<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12 footer-sec-1">
					<div class="footer-logo ui header" style="padding-left: 30px;display: block;">
						<h3 style="font-size: 20px;"><i class="graduation cap icon"></i>Knowledge Bix</h3>
					</div>
					<span style="padding-left: 10px;"> Copyright © 2018 Knowledge Bix, Inc</span>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 footer-sec-2">
					<ul id="footer-contant">
						<li class="footer-iteam"><a href="#">About us</a></li>
						<li class="footer-iteam"><a href="#">Term</a></li>
						<li class="footer-iteam"><a href="#">Privacy Policy</a></li>
					</ul>
				</div>		
			</div>

		</div>
		
	</footer>



	</body>
</html>