<% include partials/header %>
<link rel="stylesheet"  href="/Home.css">
  
 <link rel="stylesheet" href="/Add.css">

<div id="main-wrapper" style="border-radius: 20px;">
	<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12" style="; height: auto;left: 0px;right: 0px;">
			
			
			

				<div class="mySlides fadas" style="width: 100%">
				  <!-- <img src="https://images.pexels.com/photos/1848731/pexels-photo-1848731.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" style="width:100%; height: auto;"> -->
				  <div id="back-pic"></div>
				  <div class="text">Don’t let schooling interfere with your education.<p><span style="color: white;float: right;">“Mark Twain</sapn></p></div>
				 
				 	
				</div>
				<div class="mySlides fadas">
				  <!-- <img src="https://images.pexels.com/photos/433333/pexels-photo-433333.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" style="width:100%"> -->
				  <div id="back-pics"></div>
				  <div class="text">“An investment in knowledge pays the best interest.<p><span style="color: white;float: right;">“Benjamin Franklin</sapn></p></div>
					
				</div>

				<div class="mySlides fadas">
					
				  <!-- <img src="https://images.pexels.com/photos/893924/pexels-photo-893924.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" style="width:100%"> -->
				  <div id="back-pic2"></div>
				  <div class="text">Opportunities don't shappen. You create them.<p><span style="color: white;float: right;">“Chris Grosser</sapn></p></div>
					
				</div>
			<div style="text-align:center">
			  <span class="dot"></span> 
			  <span class="dot"></span> 
			  <span class="dot"></span> 
			</div>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
					<br>
   						<div><h2>Add Questions</h2></div>
   						<p>Add new questions related to above categories</p>
   						<hr>
   						<form action="/add/question" method="post" id="form-box">
   							<textarea id="textarea" name="question" placeholder="Question goes here....." class="form-control" style="margin-bottom: 18px;"></textarea>
   							<div class="ui input">
  								<input type="text" placeholder="option1" required="true">
							</div>
							<div class="ui input">
  								<input type="text" placeholder="option2" required="true">
							</div>
							<div class="ui input">
  								<input type="text" placeholder="option3" required="true">
							</div>
							<div class="ui input">
  								<input type="text" placeholder="option4" required="true">
							</div>
							<div class="ui input">
								<input type="text" name="answer" placeholder="Answer" required="true">
							</div>
							
								<textarea id="textarea" placeholder="Explanation goes here...." name="Explanation" style="width: 100%;margin-bottom: 18px;" class="form-control" required="true"></textarea>
							
							<div class="ui input" style="border-radius: 6px; height:35px; display: block; width: 100%;">
								<select name="category" class="field" id="category" required="true" style="border-radius: 6px;width: 100%;height:35px">
									 <option value=" ">Choose Category</option>
	 								<%category.forEach(function(category){%>
	 									<option value="<%=category.category %>"><%=category.category %></option>
	 								<%})%>
	 								
	 							</select>
	 						</div>
	 						<div class="ui input" style="border-radius: 6px; height:35px; display: block; width: 100%;">
								<select name="topic" id="category" required="true" style="border-radius: 6px; width: 100%;height:35px">
									<option value=" ">Choose Topics</option>
									<%subcat.forEach(function(category){%>
	 									<option value="<%=category.subcategory %>" ><%=category.subcategory %></option>
	 								<%})%>
								</select>

							</div>
							<button type="submit" class="btn btn-success btn-lg">Add</button>
						</form>

		</div>
	</div>
</div>
</div>
<script type="text/javascript">

		
		function openNav() {
        document.getElementById("myNav").style.width = "100%";

    }

    function closeNav() {
      document.getElementById("myNav").style.width = "0%";
    }

var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace("active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 5000); // Change image every 2 seconds
}
</script>
<% include partials/footer %>