<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link rel="stylesheet" type="text/css" href="/Home.css">
    <script type="text/javascript">
  		$(window).on('scroll',function(){
  			if($(window).scrollTop()){
  				 $('nav').addClass('black');
  				 
  			}
  			else
  			{
  				 $('nav').removeClass('black');


  			}
  			
  			if(($(window).scrollTop())>370){
  				$("#search_form").show();
  				
  			}
  			else
  			{
  				$("#search_form").hide();
  			

  			
  			}

  		});

  	</script>
   </head>
<body>
	<nav>
			<div class="row" style="padding-left: 0px;">
				<div class="col-md-1 col-sm-1 col-xs-1" style="padding-right: 0px;">
					
					<span onclick="openNav()">&#9776;</span>
				</div>
				<div class="col-md-11 col-sm-11 col-xs-11">	
					<div class="logo" style="text-align: center;padding-left: 5px;">
						<a href="/" style="padding-left: 0px;" > <i class="graduation cap icon"></i> Knowledge Bix</a>
						<form class="ui form" id="search_form" style="display: inline; float: right;">
							<div class="ui search">	
								<div class="field ui icon input">
									<input type="text" name="search"  class="prompt" placeholder="Search goes here.." style="border-radius: 20px;height: auto;">
									<i class="inverted circular search link icon"></i>
								</div>
								<div class="results"></div>	
							</div>
						</form>
					</div>
				</div>
				
			</div>
		
	</nav>
	<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <a href="#">About</a>
    <a href="/add/question"><i class="edit icon" style="font-size: 30px;"></i> Add Question</a>
    <a href="/register"><i class="fas fa-user-plus" style="font-size: 30px;"></i> SignUp</a>
    <a href="/login"><i class="fas fa-sign-in-alt" style="font-size: 30px;"></i> Login</a>
  </div>
</div>
	<div id="wrapper">
		<div id="second-div">
			<br>
			<br>
			<br>
			<div class="container back-img">
				<div class="row">
					<div class="col-md-10 col-sm-12 col-xs-12">
						<div style="z-index: 1; position: relative;">
							<h1>
								<i class="graduation cap icon"></i> A Good Start for Learning.
							</h1>
							
							<p style="">Learn any time and anywhere on demand.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-9 col-xs-12">
						<form action="#" method="post" class="ui form">
							<div class="ui search" style="z-index:1; position: relative;">
								<div class="ui large icon input field">
									<input type="text" class="prompt" name="search" placeholder="Search..." style="border-radius: 20px;">
									<i class="circular search link icon"></i>
								</div>
								<div class="results"></div>	
							</div>
							
							
						</form>
					</div>
					<div class="col-md-6 col-sm-1 col-xs-1"></div>
					
				</div>
			</div>
		</div>
		<br>
		<br>		
		<div class="container" style="background-attachment: fixed;">
			
			<div class="row">
				<% category.forEach(function(category){ %>
					<a href="/<%=category.category%>/<%=category._id%>/subcategory">
						<div class="col-md-3 col-sm-4 col-xs-12">
							<div class="category box" style="height: 200px">
								<div class="panel-body thumbnail">
									<div class="out-border"><div id="cat-pic"></div></div>
										<div class="style-panel-content caption">
											<div class="styles-category-text"><i class="book icon"></i> <%= category.category%></div>
										</div>
									
								
								</div>
							</div>
					
						</div>
					</a>
				
				<% }) %>
			</div>
		</div>
		<br>
		<br>

		<section id="test-section">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3 col-xs-1"></div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="ui header" style="text-align: center; color: white;margin-top: 50px;line-height: 1.28">
							<h2>Challenge Yourself!!</h2>
						</div>
						<p style="text-align: center; font-size: 17px; color: white;line-height: 1.28">Answer a some tricky questions and look where you stand.</p>
						<div class="ui inverted " style="text-align: center">
							<a href="/test/choose" type="button" class="ui positive button" style="font-size: 15px;">Take Test <i class="arrow right icon"></i></a>
						</div>
					</div>
	
					<div class="col-md-3 col-sm-3 col-xs-1"></div>
				</div>
			</div>
			
		</section>
		<section>
			<div class="row main-sec">
				<div class="col-md-6 col-sm-6 col-xs-12 sec-1">
					<div class="contant-holder">
						<h3>ADD Questions</h3>
					</div>
					<div class="contant-line">
						Add questions which you were experience.
					</div>
					<div class="upl-btn">
						<a href="/add/question" type="button" class="ui positive button">Start Adding</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 sec-2">
					<div class="contant-holder">
						<h3>Topics/Notes</h3>
					</div>
					<div class="contant-line">
						Get ability to read our Notes on mostly asked questions.
					</div>
					<div class="upl-btn">
						<a href="" type="button" class="ui positive button">Getting Notes</a>
					</div>
				</div>
			</div>
		</section>
	</div>
	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12 footer-sec-1">
					<div class="footer-logo ui header" style="padding-left: 30px;display: block;">
						<a href="/" style="color: black"><h3 style="font-size: 20px;"><i class="graduation cap icon"></i>Knowledge Bix</h3></a>
					</div>
					<span style="padding-left: 10px;"> Copyright © 2018 Knowledge Bix, Inc</span>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 footer-sec-2">
					<ul id="footer-contant">
						<li class="footer-iteam"><a href="#">About us</a></li>
						<li class="footer-iteam"><a href="#">Term</a></li>
						<li class="footer-iteam"><a href="#">Privacy Policy</a></li>
					</ul>
				</div>		
			</div>

		</div>
		
	</footer>	
	<script>
		$(document).ready(function(){
			var content = [
				<%category.forEach(function(cat){%>
					{title:"<%=cat.category%>"},
				<%})%>
			];
			$('.ui.search')
                .search({
                    type: 'standard',
                    source: content,
                    searchFields: ['title'],
                });
			
		});
		$("#search_form").hide();function openNav() {
		  	document.getElementById("myNav").style.width = "100%";

		  	
		}

		function closeNav() {
			document.getElementById("myNav").style.width = "0%";
			
		}
		
	</script>
</body>
</html>